* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background-color: rgba(0, 0, 33);
    color: white;
    font-family: 'Poppins', 'Rubik', sans-serif;
    line-height: 1.6;
    z-index: 1000;
}

.FirstSection {
    display: flex;
    justify-content: space-around;
    margin: 90px 0px;
    margin-bottom: 150px;
}

.FirstSection>div {
    width: 40%;
    margin: 50px 0px;
    align-content: center;
}

.leftsection {
    font-size: 2.5rem;
}

.rightsection img {
    width: 100%;
    border-radius: 8px;
}

.Name {
    color: peru;
    font-size: 3.5rem;
    font-weight: 600;
}

#element {
    color: aquamarine;
}

.resume-download-btn {
 display: inline-block;
 text-align: center;
 background-color: rgb(238, 144, 51);
 color: white;
 text-decoration: none;
 padding: 10px 20px;
 border-radius: 5px;
 margin-top: 30px;
 width: fit-content;
 transition: background-color 0.3s ease;
 font-size: 16px;
}

.resume-download-btn:hover {
    background-color: green;
}

